@import "tailwindcss";

@keyframes fade-in-width {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fade-out-width {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-translate-y {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.bg-100px_center {
  @media (width < 48rem /* 768px */) {
    background-position: -350px center;
  }
}

@layer components {
  .blog-post {
    /* 기본 텍스트 스타일 */
    @apply text-lg leading-relaxed text-gray-800;

    /* 모든 하위 요소에 대한 기본 마진 설정 */
    & > * {
      @apply mb-6;
    }

    /* 제목 (h1 ~ h6) */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-bold tracking-tight text-gray-900;
      @apply mt-10 mb-4; /* 제목 위쪽 여백을 더 줘서 단락 구분 */
    }
    h1 {
      @apply text-4xl md:text-5xl;
    }
    h2 {
      @apply border-b border-gray-200 pb-2 text-3xl dark:border-gray-700;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }

    /* 문단 (p) */
    p {
      @apply leading-loose;
    }

    /* 링크 (a) */
    a {
      @apply underline underline-offset-4;
    }

    /* 목록 (ul, ol) */
    ul,
    ol {
      @apply pl-8;
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    li {
      @apply mb-2;
    }

    /* 코드 블록 (pre) */
    pre {
      @apply overflow-x-auto rounded-lg bg-gray-800 p-4 font-mono text-sm text-white;
    }

    /* 이미지 (img) */
    img {
      @apply h-auto w-full rounded-lg;
    }
    /* Prismic 이미지 블록의 p태그 여백 제거 */
    .block-img {
      @apply mb-0;
    }

    /* 임베드 (Embed) */
    [data-oembed] {
      @apply relative h-0 w-full pb-[56.25%]; /* 16:9 비율 */
    }
    [data-oembed] > iframe {
      @apply absolute top-0 left-0 h-full w-full rounded-lg;
    }
  }
}

@theme {
  --animate-stagger:
    fade-in-opacity 0.7s both, fade-in-translate-y 1s ease-out both;

  --animate-fade-in-width: fade-in-width 0.2s ease-in both;
  --animate-fade-out-width: fade-out-width 0.2s ease-in both;

  --animate-fade-in-opacity: fade-in-opacity 0.2s ease-in both;
}

.scrollbar-hide {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
